/* Variables */
@font-face {
  font-family: "Didot Bold";
  src: url("../fonts/Didot-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
h1 {
  font-family: "Didot Bold", sans-serif;
  font-size: 1.875rem;
  color: #000;
}

h2 {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.875rem;
}

h3 {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: "Proxima Nova", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 0.875rem;
}

.current_page {
  font-size: 2.5rem;
  color: #FF7C9B;
}

/* Reset and base styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", sans-serif;
}

body {
  font-weight: 400;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

a {
  -webkit-text-decoration: underline 0.03125rem;
          text-decoration: underline 0.03125rem;
  color: #F3733A;
  line-height: 1.5;
  font-size: 0.875rem;
}

/* Header styles */
.header {
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  color: white;
  height: 4.56rem;
  padding: 0 2.0625rem;
}
.header .header__icon {
  position: fixed;
  right: 2.0625rem;
  width: 1.5rem;
  height: 1.7rem;
  background-size: contain;
  background: url("../images/notif.png") no-repeat center center;
  z-index: 999;
}
.header .header__title {
  position: fixed;
  font-weight: 900;
  font-size: 1.25rem;
  text-align: left;
  z-index: 999;
  left: 37%;
}

/* Nav Bar*/
.navbar input[type=checkbox],
.navbar .hamburger-lines {
  display: none;
}

.container {
  width: 100%;
  height: auto;
  margin: auto;
}

.navbar {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  color: #fff;
}

.navbar-container {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  padding: 0 2.0625rem;
}

.menu-items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu-items li,
button {
  list-style: none;
  font-size: 1.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #F3733A;
}

.navbar a:hover {
  color: #F3733A;
}

@media (max-width: 768px) {
  .navbar-container input[type=checkbox],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }
  .navbar-container input[type=checkbox] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 1.125rem;
    width: 2.0625rem;
    position: absolute;
    top: 1.25rem;
    left: 2.0625rem;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    background: #fff;
    margin-top: 0.25rem;
  }
  .navbar-container .hamburger-lines .line1 {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .navbar-container .hamburger-lines .line3 {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: #000;
    height: 100vh;
    max-width: 300px;
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    overflow: scroll;
  }
  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 1.7rem;
  }
  .navbar-container input[type=checkbox]:checked ~ .menu-items {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (max-width: 500px) {
  .navbar-container input[type=checkbox]:checked ~ .logo {
    display: none;
  }
}
/* Banner styles */
.banner img {
  width: 100%;
}

/* Welcome section styles */
.welcome {
  padding: 1.5rem 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  position: relative;
  font-family: "Proxima Nova", sans-serif;
  border-bottom: 0.0625rem solid #000;
  width: 91.2%;
  margin: 0 auto;
}

.left {
  width: 33%;
  color: #F3733A;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 900;
  font-size: 1.875rem;
  text-align: center;
  white-space: nowrap;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-180%, -15%) rotate(-90deg);
          transform: translate(-180%, -15%) rotate(-90deg);
  z-index: -1;
}
.left h2 {
  color: #F3733A;
}

.right {
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}
.right a {
  display: block;
  color: #F3733A;
  text-align: right;
  margin-left: auto;
  font-weight: 300;
}

/* Program section styles */
.program {
  position: relative;
  text-align: center;
  margin-bottom: 1.875rem;
}
.program a {
  display: block;
  color: #000;
  text-align: right;
  margin-left: auto;
  font-weight: 300;
  line-height: 1.5;
}
.program h3 {
  margin-bottom: 1.5625rem;
}
.program .hori-line {
  border-bottom: 0.0625rem solid #000;
  width: 91.2%;
  margin: 0 auto;
}

.yellow {
  width: 11.3rem;
  height: 0.875rem;
  background: #FCF05B;
  margin: 0 auto;
  -webkit-transform: translate(20%, 80%);
          transform: translate(20%, 80%);
  position: absolute;
  top: 5%;
  left: 59%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.program-heading h1 {
  width: 100%;
  color: #000;
  position: relative;
  z-index: 1;
  margin: 1.5rem 0;
}

.graduate {
  width: 100%;
  margin: 0;
  padding: 1.3125rem 2.0625rem;
  background-color: #FF7C9B;
}

.undergraduate {
  width: 100%;
  margin: 0;
  margin-bottom: 1.875rem;
  padding: 1.3125rem 2.0625rem;
  background-color: #000;
}
.undergraduate h3 {
  color: #FF7C9B;
}
.undergraduate p {
  color: #fff;
}
.undergraduate a {
  color: #F3733A;
  display: block;
  text-align: right;
  margin-left: auto;
  font-weight: 300;
  line-height: 1.5;
}

.testimonials {
  width: 100%;
  opacity: 1;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1.875rem 0 1.875rem 2.0625rem;
  white-space: nowrap;
}
.testimonials .testimonials-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.testimonials img {
  position: absolute;
  top: 0;
  left: 14%;
  z-index: 1;
}
.testimonials .user-2 img {
  left: 102%;
}
.testimonials .gradient {
  width: 40%;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  opacity: 1;
  position: absolute;
  z-index: 2;
}
.testimonials .user {
  display: inline-block;
  width: 80%;
  margin-right: 5%;
  white-space: normal;
}
.testimonials .border-user {
  opacity: 1;
  position: relative;
  text-align: center;
}
.testimonials .user-content {
  border: 0.0625rem solid #000;
  border-radius: 0.625rem;
  padding: 3rem 1rem 1.625rem 1rem;
  width: 18.75rem;
}
.testimonials .user-content p {
  font-family: "Didot Bold", sans-serif;
  font-size: 1rem;
  color: #FF7C9B;
  text-align: left;
  margin-left: 1.5625rem;
  line-height: 1.5;
}
.testimonials .user-content p:nth-of-type(2) {
  color: #000;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
  line-height: 1.5;
}
.testimonials .user-content span {
  font-family: "Proxima Nova", sans-serif;
  font-style: italic;
  font-size: 0.75rem;
  color: #FF7C9B;
}

footer {
  width: 100%;
  background: #000;
  color: #fff;
  position: absolute;
  font-size: 0.8125rem;
  opacity: 1;
  text-align: center;
  padding: 1.6875rem 2.0625rem;
}
footer a {
  color: #fff;
  font-weight: 900;
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
  margin-bottom: 2.4375rem;
}
footer .footer-links {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer p {
  color: #7F7979;
}
footer .in-touch p {
  color: #fff;
  margin-bottom: 1rem;
}
footer .social-media {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.8125rem;
}

/* Responsive Styles */
@media (min-width: 768px) {
  /* Header */
  .header {
    position: relative;
    height: 7.5rem;
  }
  .header .header__icon {
    display: none;
  }
  .header .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    width: 8%;
    height: 6.5625rem;
    padding: 0;
  }
  /* Navbar */
  .navbar_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .navbar_tablet ul {
    position: absolute;
    top: 35%;
    padding: 0;
    margin: 0;
  }
  .navbar_tablet ul li a {
    text-decoration: none;
    font-size: 0.83rem;
    margin-right: 1rem;
    padding: 0;
    white-space: nowrap;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 900;
    color: #fff;
  }
  .navbar {
    display: none;
  }
  .navbar-container input[type=checkbox],
  .navbar-container .hamburger-lines {
    display: none;
  }
  .header__title {
    display: none;
  }
  /* Welcome Section */
  .welcome {
    padding: 3rem 0;
  }
  .left {
    width: 30%;
  }
  .left h2 {
    font-size: 2.8rem;
  }
  .right p {
    display: none;
  }
  .right p2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* Program Section */
  .program {
    margin-bottom: 3rem;
  }
  .program a {
    margin-top: 0.8rem;
  }
  .program-heading h1 {
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  .yellow {
    width: 15rem;
    left: 57%;
    top: 8%;
  }
  /* Testimonials */
  .testimonials .user img {
    left: 7%;
  }
  .testimonials .user-2 img {
    left: 52%;
  }
  .testimonials .user-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials .user-3 img {
    left: 97%;
    width: 4.875rem;
  }
  .testimonials .user-3 .user-content p {
    margin-top: 0.5rem;
  }
}
@media (min-width: 1024px) {
  /* Header */
  .header {
    height: 5rem;
  }
  .header__title {
    font-size: 1.5rem;
  }
  .header__icon {
    width: 2rem;
    height: 2rem;
  }
  /* Navbar */
  .menu-items li {
    margin: 0 1.5rem;
    font-size: 1.2rem;
  }
  .logo {
    font-size: 2.5rem;
  }
  /* Welcome Section */
  .left {
    width: 15%;
    font-size: 3rem;
  }
  .right {
    font-size: 1.125rem;
  }
  /* Program Section */
  .program-heading h1 {
    font-size: 3rem;
  }
  /* Footer */
  footer {
    padding: 4rem 2.0625rem;
  }
}
@media (min-width: 1440px) {
  /* Navbar */
  .menu-items li {
    margin: 0 2rem;
    font-size: 1.4rem;
  }
  .logo {
    font-size: 3rem;
  }
  /* Welcome Section */
  .left {
    font-size: 3.5rem;
  }
  .right {
    font-size: 1.25rem;
  }
  /* Program Section */
  .program-heading h1 {
    font-size: 3.5rem;
  }
  /* Footer */
  footer {
    padding: 4.5rem 2.0625rem;
  }
}
@media (min-width: 1920px) {
  /* Header */
  .header {
    height: 12rem;
    top: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__icon {
    display: none;
  }
  .header .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
    margin-left: 3%;
  }
  /* Navbar */
  .navbar_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar_tablet ul {
    top: 40%;
    left: 12%;
  }
  .navbar_tablet ul li a {
    font-size: 1.65rem;
    margin-right: 1rem;
  }
  .navbar {
    display: none;
  }
  .navbar-container input[type=checkbox],
  .navbar-container .hamburger-lines {
    display: none;
  }
  .header__title {
    display: none;
  }
  /* Welcome Section */
  .left {
    width: 30%;
  }
  .left h2 {
    font-size: 8.5rem;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  .right {
    font-size: 1.5rem;
  }
  .right p2 {
    display: none;
  }
  .right p3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.125rem;
    line-height: 2;
  }
  .right p3 span {
    color: #FF7C9B;
    font-size: 2.5rem;
  }
  .right a {
    text-align: left;
    line-height: 2;
    font-size: 1.5rem;
  }
  /* Program Section */
  .program h1 {
    font-size: 6rem;
  }
  .program .yellow {
    width: 36rem;
    height: 2.5rem;
    top: 22%;
    left: 56.5%;
  }
  /* Footer */
  footer {
    padding: 5rem 2.0625rem;
  }
}